{% extends 'base.html.twig' %}

{% block title %}Modifier l'avatar de profil{% endblock %}

{% block body %}
  <h1>Modifier votre avatar de profil</h1>

  <div class="avatar-gallery mt-4">
    <h2>Galerie d'avatars</h2>
    <div class="row">
      {{ form_start(editAvatarForm) }}
        <div class="avatar-choice-list">
          {% for child in editAvatarForm.avatar %}
            <label class="avatar-choice-label">
              {{ form_widget(child) }}
              <img src="{{ asset('images/avatars/' ~ child.vars.value) }}"
                alt="{{ child.vars.label }}"
                class="avatar-choice-preview"
              />
            </label>
          {% endfor %}
        </div>

        <button class="btn btn-crilzz">Mettre à jour</button>
      {{ form_end(editAvatarForm) }}
    </div>
  </div>

  <a href="{{ path('app_user_profile') }}" class="btn btn-secondary mt-3">Retour au profil</a>
{% endblock %}
